@model List<Category>

@*    @{
    ViewData["List"] = "List";
    }*@

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Category List</h3>

        <div class="card-tools">
            <ul class="pagination pagination-sm float-right">
                <li class="page-item"><a class="page-link" href="#">«</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table">
            <thead>
                <tr>
                    <th style="width: 10px">Category Name</th>
                    <th>Category Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>
                            <a asp-action="Update" asp-route-id="@item.ID" class="btn btn-primary">Güncelle</a>
                        </td>
                       
                        <td>
                               @{
                             int sayac = 0;
                            }
                            @for (var i = 0; i < ViewBag.myBag.Count; i++)
                            {
                                @if (ViewBag.myBag[i].CategoryID == item.ID)
                                {
                                    sayac++;
                                }
                            }
                            @if (sayac > 0)
                            {
                                <a asp-action="Unfollow" asp-route-id="@item.ID" class="btn btn-primary" style="background-color:#f4511e">Takibi bırak</a>

                                
                            }
                            else
                            {
                                <a asp-action="Follow" asp-route-id="@item.ID" class="btn btn-succsess" style="background-color:#3e8e41">Takip Et</a>

                            }



                        </td>
                    </tr>

                }

            </tbody>
        </table>
    </div>

</div>
